body {
  @mixin light {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);
  }

  @mixin dark {
    background-color: var(--mantine-color-black);
    color: var(--mantine-color-white);
  }
}
